body,
html {
    width: 100%;
    height: 100%;
    position: fixed;
    margin: 0;
    font-family: "Microsoft YaHei"
}

#mapDiv {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

input,
b,
p {
    margin-left: 5px;
    font-size: 15px
}

.search-box {
    position: absolute;
    width: 370px;
    height: 36px;
    display: inline-block;
    text-align: start;
    vertical-align: top;
    top: 10px;
    left: 10px;
    z-index: 5;
}

.search-box #search-wrapper {
    font-feature-settings: "tnum", "tnum";
    border-collapse: initial;
    border-spacing: 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, .85);
    display: flex;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

#search-wrapper #search-text {
    width: 310px;
    height: 40px;
    font-size: 14px;
    position: relative;
    display: -webkit-inline-box;
}

#search-text input {
    position: relative;
    width: 100%;
    text-align: inherit;
    float: left;
    margin-bottom: 0;
}

.search-box #search-button {
    width: 60px;
    height: 40px;
}

#search-button button {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: cornflowerblue;
    cursor: pointer;
}

#button-img {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-size: cover;
    background-image: url(../images/搜索.png);
}

#selectpart {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    --antd-wave-shadow-color: #1890ff;
    --scroll-bar: 0;
    font-feature-settings: "tnum", "tnum";
    color: rgba(0, 0, 0, .85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    -webkit-font-smoothing: antialiased;
    font-family: microsoft yahei, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    animation: Sidebar_sidebarMove__JzeJ4 .3s;
    background-color: #fff;
    border-right: 1px solid #eaeaea;
    height: 100%;
    position: absolute;
    transition: left .3s;
    width: 380px;
    z-index: 4;
    left: 0;
    top: 50px;
    opacity: 0.8;
}

#selectpart .title {
    position: relative;
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    box-shadow: #696969 0px 1px 0.5px 0px;
}

#selectpart #slide-btn {
    background-color: #fff;
    border-left: 0;
    box-shadow: 1px 0 2px #ccc;
    color: #5d5d5d;
    cursor: pointer;
    font-size: 12px;
    height: 50px;
    margin-top: -25px;
    position: absolute;
    right: -22px;
    top: 50%;
    width: 22px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.slide_in_animation {
    animation: slip_in 1s;
    transform: translateX(-100%);
}

.slide_out_animation {
    animation: slip_out 1s;
    transform: translateX(0%);
}

@keyframes slip_in {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes slip_out {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

.search {
    font-size: 15px;
    border: 1px solid #999999;
}

.ls {
    line-height: 30px;
    padding-left: 15px;
}

.prompt {
    display: none;
    font-size: 15px;
    border: 1px solid #999999;
}

.statistics {
    display: none;
    font-size: 15px;
    border: 1px solid #999999;
    overflow-y: scroll;
    height: 150px;
}

.suggests {
    display: none;
    font-size: 15px;
    border: 1px solid #999999;
}

;

.lineData {
    display: none;
    font-size: 15px;
    border: 1px solid #999999;
}

.result {
    display: none;
    font-size: 15px;
    border: 1px solid #999999;
    line-height: 30px;
    padding-left: 15px;
}

#searchDiv {
    width: 100%;
}

#pageDiv {
    width: 100%;
}

.pagebutton {
    touch-action: manipulation;
    font-family: inherit;
    margin: 0;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    background: #fff;
    border-radius: 2px;
    color: #333;
    cursor: pointer;
    border: 1px solid #d9d9d9;
    box-shadow: none;
    box-sizing: border-box;
    font-size: 12px;
    height: 22px;
    padding: 0 6px;
    position: static;
    transition: border-color .3s;
}

.pagebutton:hover {
    background-color: #1890ff;
}

.marker {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-height: 50px;
}

.marker img {
    width: 30px;
    height: 30px;
}

.marker a{
    text-decoration: none;
    color: #333;
}